{% extends 'base.html' %}
{% block title %}Test{% endblock %}

{% block nav %}
<ul>
  <li><a href="{{ url_for('main') }}">Overview</a></li>
  <li><a href="{{ url_for('test') }}" class="active">Test Our Product</a></li>
  <li><a href="{{ url_for('about') }}">About the Creators</a></li>
</ul>
{% endblock %}

{% block header %}<h2>Test Our Product</h2>{% endblock %}

<!-- CONTENT BEGINS HERE -->

{% block content %}
  <p>Please specify a stock to predict.</p>
  <form method="post">
      {{ tform.csrf_token }}
      {{ tform.target }}
      {{ tform.submit }}
  </form>

  {% if error %}
    <p>Submission was invalid. Please try again.<p>
  {% endif %}

  {% if target %}
    <p>The model predicts that {{target}} will go {{pred}} tomorrow. On the past two years, the accuracy of this 
      model's predictions on {{target}} is {{accuracy}}%.</p>

    <p>Below is an interactive plot of the stock. You can use the following checkboxes to add various indicators to the plot.</p>

    <form method="post">
      {{ pform.csrf_token }}
      {{ pform.MA5_bool.label }}
      {{ pform.MA5_bool }}
      &nbsp;&nbsp;
      {{ pform.MA20_bool.label }}
      {{ pform.MA20_bool }}
      &nbsp;&nbsp;
      {{ pform.volume_bool.label }}
      {{ pform.volume_bool }}
      &nbsp;&nbsp;
      {{ pform.MACD_bool.label }}
      {{ pform.MACD_bool }}
      &nbsp;&nbsp;
      {{ pform.render }}
      <!-- <input type="submit" value="Render"> -->
    </form>

    <!-- boilerplate code for plotting graphJSON as plotly -->
    <div id='chart' class='chart'></div>
    <script src='https://cdn.plot.ly/plotly-latest.min.js'></script>
    <script type='text/javascript'>
      var graphs = {{graphJSON | safe}};
      Plotly.plot('chart',graphs,{});
    </script>

  {% endif %}
{% endblock %}